@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@400;700&display=swap");
button {
  background-color: transparent;
  border: 0;
}

.btnMain {
  background: #356DFF !important;
  color: #FFF !important;
  border: 1px solid #356DFF !important;
}

.btn-button {
  cursor: pointer;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 45px;
  width: 180px;
  position: relative;
  font-size: 15px;
}
.btn-button:before {
  content: "";
  height: 3px;
  width: 20px;
  position: absolute;
  top: -1px;
  bottom: initial;
  transform: initial;
  left: initial;
  right: 22px;
  margin: auto;
  z-index: 2;
}
.btn-button::after {
  content: "";
  height: 3px;
  width: 20px;
  position: absolute;
  top: initial;
  bottom: -1px;
  transform: initial;
  left: 22px;
  right: initial;
  margin: auto;
  z-index: 2;
}
.btn-button:hover {
  transform: scale(0.9);
}

.tilter {
  display: block;
  position: relative;
  width: 280px;
  height: 400px;
  margin: 20px auto;
  color: #FFF;
  flex: none;
  perspective: 1000px;
}
.tilter:hover, .tilter:focus {
  color: #FFF;
  outline: none;
}
.tilter * {
  pointer-events: none;
}
.tilter .tilter__figure, .tilter .tilter__image {
  margin: 0;
  width: 100%;
  height: 100%;
  display: block;
}
.tilter .tilter__figure > * {
  transform: translateZ(0px);
}
.tilter .tilter__figure::before {
  content: "";
  position: absolute;
  top: 5%;
  bottom: initial;
  transform: initial;
  left: 5%;
  right: 0;
  margin: auto;
  width: 90%;
  height: 90%;
  box-shadow: 0 30px 20px rgba(35, 32, 39, 0.5);
}
.tilter .tilter__figure .tilter__deco--shine div {
  position: absolute;
  top: -50%;
  bottom: initial;
  transform: initial;
  left: -50%;
  right: 0;
  margin: auto;
  width: 200%;
  height: 200%;
  background-image: linear-gradient(45deg, rgba(0, 0, 0, 0.5) 0%, rgba(255, 255, 255, 0.25) 50%, transparent 100%);
}
.tilter .tilter__figure .tilter__caption {
  position: absolute;
  top: initial;
  bottom: 45px;
  transform: initial;
  left: 0;
  right: 0;
  margin: auto;
  text-align: center;
  width: 100%;
  z-index: 9;
}
.tilter .tilter__figure .tilter__caption .tilter__title {
  margin: 0;
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
  color: #FFF;
}
.tilter .tilter__figure .tilter__deco {
  position: absolute;
  top: 0;
  bottom: initial;
  transform: initial;
  left: 0;
  right: initial;
  margin: auto;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.1);
}
.tilter .tilter__figure .tilter__deco.tilter__deco--lines {
  fill: none;
  stroke: #FFF;
  stroke-width: 1.5px;
}

@-webkit-keyframes slideDown {
  0% {
    opacity: 0;
    transform: translateY(-100%);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}

@keyframes slideDown {
  0% {
    opacity: 0;
    transform: translateY(-100%);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}
@-webkit-keyframes slideIn {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0%);
  }
}
@keyframes slideIn {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0%);
  }
}
@-webkit-keyframes translate3DRight {
  0% {
    transform: translate3d(100%, 0, 0);
    opacity: 0;
  }
  100% {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}
@keyframes translate3DRight {
  0% {
    transform: translate3d(100%, 0, 0);
    opacity: 0;
  }
  100% {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}
@-webkit-keyframes translate3DTop {
  0% {
    transform: translate3d(0, 100%, 0);
    opacity: 0;
  }
  100% {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}
@keyframes translate3DTop {
  0% {
    transform: translate3d(0, 100%, 0);
    opacity: 0;
  }
  100% {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}
@-webkit-keyframes pathRect {
  25% {
    stroke-dashoffset: 64;
  }
  50% {
    stroke-dashoffset: 128;
  }
  75% {
    stroke-dashoffset: 192;
  }
  100% {
    stroke-dashoffset: 256;
  }
}
@keyframes pathRect {
  25% {
    stroke-dashoffset: 64;
  }
  50% {
    stroke-dashoffset: 128;
  }
  75% {
    stroke-dashoffset: 192;
  }
  100% {
    stroke-dashoffset: 256;
  }
}
@-webkit-keyframes dotRect {
  25% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(18px, -18px);
  }
  75% {
    transform: translate(0, -36px);
  }
  100% {
    transform: translate(-18px, -18px);
  }
}
@keyframes dotRect {
  25% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(18px, -18px);
  }
  75% {
    transform: translate(0, -36px);
  }
  100% {
    transform: translate(-18px, -18px);
  }
}
@-webkit-keyframes socialMedia {
  0% {
    left: -110%;
    top: 90%;
  }
  50% {
    left: 10%;
    top: -30%;
  }
  100% {
    top: -10%;
    left: -10%;
  }
}
@keyframes socialMedia {
  0% {
    left: -110%;
    top: 90%;
  }
  50% {
    left: 10%;
    top: -30%;
  }
  100% {
    top: -10%;
    left: -10%;
  }
}
.loader {
  background-color: #FFF;
  position: fixed;
  top: 0;
  bottom: initial;
  transform: initial;
  left: 0;
  right: 0;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  flex-wrap: initial;
  width: 100%;
  height: 100%;
  z-index: 99999;
}
.loader .load-in {
  --duration: 3s;
  width: 44px;
  height: 44px;
  position: relative;
}
.loader .load-in:before {
  content: "";
  width: 6px;
  height: 6px;
  border-radius: 50%;
  display: block;
  background: #356DFF;
  position: absolute;
  top: 37px;
  bottom: initial;
  transform: translate(-18px, -18px);
  left: 19px;
  right: initial;
  margin: auto;
  -webkit-animation: dotRect var(--duration) cubic-bezier(0.785, 0.135, 0.15, 0.86) infinite;
          animation: dotRect var(--duration) cubic-bezier(0.785, 0.135, 0.15, 0.86) infinite;
}
.loader .load-in svg {
  display: block;
  width: 100%;
  height: 100%;
}
.loader .load-in svg rect {
  fill: none;
  stroke: #0B0D39;
  stroke-width: 10px;
  stroke-linejoin: round;
  stroke-linecap: round;
}
.loader .load-in svg rect {
  stroke-dasharray: 192 64 192 64;
  stroke-dashoffset: 0;
  -webkit-animation: pathRect 3s cubic-bezier(0.785, 0.135, 0.15, 0.86) infinite;
          animation: pathRect 3s cubic-bezier(0.785, 0.135, 0.15, 0.86) infinite;
}

html[theme=dark] body {
  background-color: #0B0D39;
}
html[theme=dark] ::-moz-selection {
  background: #356DFF;
  color: #356DFF;
}
html[theme=dark] ::selection {
  background: #356DFF;
  color: #356DFF;
}
html[theme=dark] ::-moz-selection {
  background: #356DFF;
  color: #356DFF;
}
html[theme=dark] a {
  color: #FFF;
}
html[theme=dark] h1, html[theme=dark] h2, html[theme=dark] h3, html[theme=dark] h4, html[theme=dark] h5, html[theme=dark] h6, html[theme=dark] p, html[theme=dark] li {
  color: #FFF;
}
html[theme=dark] .colorSecond {
  color: #FFF;
}
html[theme=dark] .bgSection {
  background-color: rgba(26, 28, 70, 0.9);
}
html[theme=dark] .bgToggle {
  background-color: #0B0D39;
}
html[theme=dark] .click-nav .handle {
  background-color: #FFF;
}
html[theme=dark] .btnSecond {
  background: #356DFF !important;
  color: #FFF !important;
  border: 1px solid #356DFF !important;
}
html[theme=dark] .btnBorder {
  background: transparent !important;
  color: #FFF !important;
  border: 1px solid #FFF !important;
}
html[theme=dark] .btn-button:before {
  background-color: #0B0D39;
}
html[theme=dark] .btn-button::after {
  background-color: #0B0D39;
}
html[theme=dark] .owl-switch .owl-nav button {
  background-color: #0B0D39;
}
html[theme=dark] .owl-switch .owl-nav button i {
  color: #FFF;
}
html[theme=dark] .theme button {
  background-color: rgba(26, 28, 70, 0.9);
}
html[theme=dark] .theme button i {
  color: #FFF;
}
html[theme=dark] header .head-nav {
  background-color: #0B0D39;
}
html[theme=dark] header .head-nav nav {
  background-color: #0B0D39;
}
html[theme=dark] header .head-nav nav li::after {
  background-color: #FFF;
}
html[theme=dark] .count-section .bgSection .count-box .svg-box svg circle {
  stroke: rgba(26, 28, 70, 0.9);
}
html[theme=dark] .head-title::after {
  border-top: 15px solid rgba(26, 28, 70, 0.9);
}
html[theme=dark] .head-title::before {
  border-top: 15px solid rgba(26, 28, 70, 0.9);
}
html[theme=dark] .head-title.bgToggle h4::before, html[theme=dark] .head-title.bgToggle h4::after {
  box-shadow: 0 -25px 0 0 #0B0D39;
}
html[theme=dark] .head-title.bgToggle::after {
  border-top: 15px solid #0B0D39;
}
html[theme=dark] .head-title.bgToggle::before {
  border-top: 15px solid #0B0D39;
}
html[theme=dark] .section-about-me .img-about-me img:first-child {
  opacity: 1;
}
html[theme=dark] .section-experience .block-experience {
  background-color: #0B0D39;
}
html[theme=dark] .section-experience .block-experience .icon-head::after, html[theme=dark] .section-experience .block-experience .icon-head::before {
  border-top: 15px solid rgba(26, 28, 70, 0.9);
}

html[theme=light] body {
  background-color: #FFF;
}
html[theme=light] ::-moz-selection {
  background: #356DFF;
  color: #356DFF;
}
html[theme=light] ::selection {
  background: #356DFF;
  color: #356DFF;
}
html[theme=light] ::-moz-selection {
  background: #356DFF;
  color: #356DFF;
}
html[theme=light] a {
  color: #0B0D39;
}
html[theme=light] h1, html[theme=light] h2, html[theme=light] h3, html[theme=light] h4, html[theme=light] h5, html[theme=light] h6, html[theme=light] p, html[theme=light] li {
  color: #0B0D39;
}
html[theme=light] .colorSecond {
  color: #0B0D39;
}
html[theme=light] .bgSection {
  background-color: rgba(242, 251, 252, 0.9);
}
html[theme=light] .bgToggle {
  background-color: #FFF;
}
html[theme=light] .owl-switch .owl-nav button {
  background-color: #FFF;
}
html[theme=light] .owl-switch .owl-nav button i {
  color: #0B0D39;
}
html[theme=light] .click-nav .handle {
  background-color: #0B0D39;
}
html[theme=light] .btnSecond {
  background: #0B0D39 !important;
  color: #FFF !important;
  border: 1px solid #0B0D39 !important;
}
html[theme=light] .btnBorder {
  background: transparent !important;
  color: #0B0D39 !important;
  border: 1px solid #0B0D39 !important;
}
html[theme=light] .btn-button:before {
  background-color: #FFF;
}
html[theme=light] .btn-button::after {
  background-color: #FFF;
}
html[theme=light] .theme button {
  background-color: #FFF;
}
html[theme=light] .theme button i {
  color: #0B0D39;
}
html[theme=light] header .head-nav {
  background-color: #FFF;
}
html[theme=light] header .head-nav nav {
  background-color: #FFF;
}
html[theme=light] header .head-nav nav li::after {
  background-color: #0B0D39;
}
html[theme=light] .count-section .bgSection .count-box .svg-box svg circle {
  stroke: rgba(242, 251, 252, 0.9);
}
html[theme=light] .head-title::after, html[theme=light] .head-title::before {
  border-top: 15px solid rgba(242, 251, 252, 0.9);
}
html[theme=light] .head-title.bgToggle h4::before, html[theme=light] .head-title.bgToggle h4::after {
  box-shadow: 0 -25px 0 0 #FFF;
}
html[theme=light] .head-title.bgToggle::after {
  border-top: 15px solid #FFF;
}
html[theme=light] .head-title.bgToggle::before {
  border-top: 15px solid #FFF;
}
html[theme=light] .section-about-me .img-about-me img:first-child {
  opacity: 0.2;
}
html[theme=light] .section-experience .block-experience {
  background-color: #FFF;
}
html[theme=light] .section-experience .block-experience .icon-head::after, html[theme=light] .section-experience .block-experience .icon-head::before {
  border-top: 15px solid rgba(242, 251, 252, 0.9);
}

* {
  border: 0;
  margin: 0;
  padding: 0;
  outline: none !important;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: "Cairo", sans-serif;
}

a, button, input, textarea, i {
  transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
}

img {
  -o-object-fit: cover;
     object-fit: cover;
}

a {
  text-decoration: none !important;
  cursor: pointer;
  display: flex;
}

i {
  vertical-align: middle;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 10px 0;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

li {
  display: inline-block;
}

::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.colorMain {
  color: #356DFF !important;
}

.back {
  transform: translate(0) !important;
}

.container {
  max-width: 1320px;
  margin: auto;
  padding: 0 20px;
}

.position-relative {
  position: relative;
}

.row {
  display: flex;
  align-items: initial;
  justify-content: initial;
  flex-direction: row;
  flex-wrap: wrap;
}

.overflow-hidden {
  overflow: hidden !important;
}

.none {
  display: none;
}

.owl-carousel {
  display: block;
  width: 100%;
  -webkit-tap-highlight-color: transparent;
  position: relative;
  direction: ltr;
}
.owl-carousel .owl-nav, .owl-carousel .owl-dots {
  display: none;
}
.owl-carousel.owl-switch .owl-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}
.owl-carousel.owl-switch .owl-nav button {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
}
.owl-carousel.owl-switch .owl-nav .owl-prev {
  position: absolute;
  top: 20%;
  bottom: initial;
  transform: initial;
  left: -20px;
  right: initial;
  margin: auto;
}
.owl-carousel.owl-switch .owl-nav .owl-prev i {
  transform: rotate(180deg);
}
.owl-carousel.owl-switch .owl-nav .owl-next {
  position: absolute;
  top: 20%;
  bottom: initial;
  transform: initial;
  left: initial;
  right: -20px;
  margin: auto;
}

.click-nav {
  position: relative;
  z-index: 999;
  width: 40px;
  height: 44px;
  display: none;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex-wrap: initial;
}
.click-nav .handle {
  height: 1px;
  width: 100%;
  margin: 0.32em auto;
  transition: all 350ms cubic-bezier(0.28, 0.55, 0.385, 1.65);
  transition-timing-function: cubic-bezier(0.28, 0.55, 0.385, 1.65);
}
.click-nav .closed {
  width: 40px;
  position: relative;
  transform: rotate(45deg);
  top: -7px;
}
.click-nav .closed:nth-of-type(2) {
  transform: rotate(-45deg);
  margin: -0.4em 0.4em;
}
.click-nav .closed:nth-of-type(3) {
  display: none;
}

.theme {
  position: relative;
  z-index: 999;
}
.theme button {
  position: relative;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  overflow: hidden;
}
.theme button i {
  position: absolute;
  top: 50%;
  bottom: initial;
  transform: translate(100%, -50%);
  left: 0;
  right: 0;
  margin: auto;
  font-size: 22px;
}
.theme button.light .icon-moon {
  transform: translate(0, -50%) !important;
}
.theme button.light .icon-sun-full {
  transform: translate(100%, -50%) !important;
}
.theme button.dark .icon-sun-full {
  transform: translate(0, -50%) !important;
}
.theme button.dark .icon-moon {
  transform: translate(-100%, -50%) !important;
}

.head-title {
  text-align: center;
  margin: auto;
  margin-bottom: 70px;
  display: table;
  width: 200px;
  height: 50px;
  line-height: 45px;
  position: relative;
}
.head-title h4 {
  margin: 0;
}
.head-title h4::before {
  content: "";
  position: absolute;
  top: 0px;
  height: 50px;
  left: -25px;
  width: 25px;
  border-top-right-radius: 25px;
}
.head-title h4::after {
  content: "";
  position: absolute;
  top: 0px;
  height: 50px;
  right: -25px;
  width: 25px;
  border-top-left-radius: 25px;
}
.head-title::after {
  content: "";
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  position: absolute;
  top: initial;
  bottom: -15px;
  transform: initial;
  left: initial;
  right: 20px;
  margin: auto;
}
.head-title::before {
  content: "";
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  position: absolute;
  top: initial;
  bottom: -15px;
  transform: initial;
  left: 20px;
  right: initial;
  margin: auto;
}

header {
  position: -webkit-sticky;
  position: sticky;
  top: 30px;
  z-index: 9999;
}
header .head-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 30px 0;
  border-radius: 50px;
  padding: 0 30px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
header .head-nav .logo {
  background-color: #FFF;
  padding: 5px 10px;
  border-radius: 50px;
  overflow: hidden;
}
header .head-nav .logo img {
  max-width: 140px;
}
header .head-nav nav li {
  position: relative;
}
header .head-nav nav li::after {
  content: "";
  position: absolute;
  top: initial;
  bottom: 7px;
  transform: initial;
  left: 0;
  right: 0;
  margin: auto;
  transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  opacity: 0;
  visibility: hidden;
  width: 7px;
  height: 7px;
}
header .head-nav nav li a {
  position: relative;
  padding: 25px 15px;
  z-index: 9;
  opacity: 0.3;
}
header .head-nav nav li.active a, header .head-nav nav li:hover a {
  opacity: 1;
}
header .head-nav nav li.active::after, header .head-nav nav li:hover::after {
  content: "";
  position: absolute;
  top: initial;
  bottom: 15px;
  transform: rotate(40deg);
  left: 0;
  right: 0;
  margin: auto;
  opacity: 1;
  visibility: initial;
}
header .head-nav nav .animSlideIn {
  -webkit-animation: 0.7s ease-in-out both slideIn;
          animation: 0.7s ease-in-out both slideIn;
}
header .head-nav nav li:nth-child(1) {
  -webkit-animation-delay: 0.07s;
          animation-delay: 0.07s;
}
header .head-nav nav li:nth-child(2) {
  -webkit-animation-delay: 0.14s;
          animation-delay: 0.14s;
}
header .head-nav nav li:nth-child(3) {
  -webkit-animation-delay: 0.21s;
          animation-delay: 0.21s;
}
header .head-nav nav li:nth-child(4) {
  -webkit-animation-delay: 0.28s;
          animation-delay: 0.28s;
}
header .head-nav nav li:nth-child(5) {
  -webkit-animation-delay: 0.35s;
          animation-delay: 0.35s;
}
header .head-nav nav li:nth-child(6) {
  -webkit-animation-delay: 0.42s;
          animation-delay: 0.42s;
}
header .head-nav nav li:nth-child(7) {
  -webkit-animation-delay: 0.49s;
          animation-delay: 0.49s;
}
header .head-nav nav li:nth-child(8) {
  -webkit-animation-delay: 0.56s;
          animation-delay: 0.56s;
}
header .head-nav nav li:nth-child(9) {
  -webkit-animation-delay: 0.63s;
          animation-delay: 0.63s;
}
header .head-nav nav li:nth-child(10) {
  -webkit-animation-delay: 0.7s;
          animation-delay: 0.7s;
}
header .head-nav nav li:nth-child(11) {
  -webkit-animation-delay: 0.77s;
          animation-delay: 0.77s;
}
header .head-nav nav li:nth-child(12) {
  -webkit-animation-delay: 0.84s;
          animation-delay: 0.84s;
}
header.header-fixed {
  -webkit-animation: slideDown 0.7s;
          animation: slideDown 0.7s;
}

.content-view {
  width: 100%;
  position: relative;
  padding-top: 100px;
  padding-bottom: 180px;
}
.content-view .row {
  flex-direction: row-reverse;
}
.content-view .info-title {
  display: flex;
  align-items: initial;
  justify-content: center;
  flex-direction: column;
  flex-wrap: initial;
  height: 100%;
  overflow: hidden;
}
.content-view .info-title .info-me {
  display: flex;
  align-items: center;
  justify-content: initial;
  flex-direction: row;
  flex-wrap: initial;
  -webkit-animation: translate3DRight 1.5s;
          animation: translate3DRight 1.5s;
}
.content-view .info-title .info-me h1 {
  margin: 0;
  font-size: 40px;
}
.content-view .info-title .info-me h1:last-child {
  margin: 0 10px;
}
.content-view .info-title h2 {
  margin: 0;
}
.content-view .info-title .btn-button {
  margin: 20px 0;
}
.content-view .info-title h2, .content-view .info-title p, .content-view .info-title .btn-button {
  -webkit-animation: translate3DTop 2s;
          animation: translate3DTop 2s;
}
.content-view .shape-anime {
  text-align: center;
}
.content-view .shape-anime img {
  max-width: 100%;
  z-index: 99;
  -webkit-animation: translate3DTop 1s;
          animation: translate3DTop 1s;
}
.content-view .shape-anime .shape {
  background: linear-gradient(45deg, #356DFF 0%, #356DFF 100%);
  -webkit-animation: morph 4s ease-in-out infinite;
          animation: morph 4s ease-in-out infinite;
  border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
  height: 500px;
  width: 500px;
  transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -webkit-transition: all 1s ease-in-out;
  z-index: 5;
  margin: auto;
  opacity: 0.2;
  position: absolute;
  top: 50%;
  bottom: initial;
  transform: translateY(-50%);
  left: 0;
  right: 0;
  margin: auto;
}
@-webkit-keyframes morph {
  0% {
    border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
    background: linear-gradient(45deg, #356DFF 0%, #356DFF 100%);
  }
  50% {
    border-radius: 30% 60% 70% 40%/50% 60% 30% 60%;
    background: linear-gradient(45deg, #356DFF 0%, #356DFF 100%);
  }
  100% {
    border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
    background: linear-gradient(45deg, #356DFF 0%, #356DFF 100%);
  }
}
@keyframes morph {
  0% {
    border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
    background: linear-gradient(45deg, #356DFF 0%, #356DFF 100%);
  }
  50% {
    border-radius: 30% 60% 70% 40%/50% 60% 30% 60%;
    background: linear-gradient(45deg, #356DFF 0%, #356DFF 100%);
  }
  100% {
    border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
    background: linear-gradient(45deg, #356DFF 0%, #356DFF 100%);
  }
}

.count-section {
  margin: 20px auto;
}
.count-section .bgSection {
  border-radius: 20px;
}
.count-section .bgSection .pernet-count {
  text-align: center;
  margin: 20px 0;
}
.count-section .bgSection .pernet-count h3 {
  margin-top: 25px;
  margin-bottom: 0;
}
.count-section .bgSection .pernet-count .count-box {
  width: 190px;
  height: 190px;
  margin: 10px auto;
  background-color: #FFF;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex-wrap: initial;
}
.count-section .bgSection .pernet-count .count-box .svg-box {
  position: relative;
  text-align: center;
  width: 180px;
  height: 180px;
}
.count-section .bgSection .pernet-count .count-box .svg-box .textCount {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  margin: auto;
  transform: translateY(-50%);
  z-index: 1;
  font-size: 2em;
  letter-spacing: 3px;
}
.count-section .bgSection .pernet-count .count-box .svg-box svg {
  transform: rotate(-90deg);
  width: 180px;
  height: 180px;
  fill: none;
}
.count-section .bgSection .pernet-count .count-box .svg-box svg circle {
  stroke-width: 10;
  stroke: #eee !important;
}
.count-section .bgSection .pernet-count .count-box .svg-box svg .bar {
  stroke-width: 10;
  stroke: #356DFF !important;
  stroke-linecap: round;
}

.section-about-me {
  padding-top: 80px;
  margin: 20px 0;
}
.section-about-me .desc-about-me {
  margin: 20px 0;
}
.section-about-me .desc-about-me ul {
  position: relative;
}
.section-about-me .desc-about-me ul::after {
  content: "";
  width: 2px;
  height: 93%;
  background-color: #356DFF;
}
.section-about-me .desc-about-me ul li {
  margin: 20px 0;
  position: relative;
  padding: 0 40px;
  display: block;
}
.section-about-me .desc-about-me ul li::after {
  content: "";
  width: 10px;
  height: 10px;
  background-color: #356DFF;
}
.section-about-me .desc-about-me ul li span {
  font-weight: bold;
}
.section-about-me .img-about-me {
  position: relative;
  overflow: hidden;
  margin: 20px 0;
}
.section-about-me .img-about-me img {
  position: relative;
  max-width: 100%;
}
.section-about-me .img-about-me img:first-child {
  position: absolute;
  max-width: 80%;
}
.section-about-me .img-about-me img:last-child {
  z-index: 9;
}

.section-experience .bgSection {
  border-radius: 20px;
}
.section-experience .block-experience {
  border-radius: 20px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 0px 4px 0px;
  text-align: center;
  padding: 20px;
  margin: 35px auto;
  max-width: 550px;
  padding-top: 100px;
}
.section-experience .block-experience .icon-head {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  flex-wrap: initial;
  border-radius: 50%;
  width: 150px;
  height: 150px;
  margin: auto;
  position: absolute;
  top: -25px;
  bottom: initial;
  transform: initial;
  left: 0;
  right: 0;
  margin: auto;
}
.section-experience .block-experience .icon-head::after {
  content: "";
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  position: absolute;
  top: initial;
  bottom: -1px;
  transform: rotate(-34deg);
  left: initial;
  right: 20px;
  margin: auto;
}
.section-experience .block-experience .icon-head::before {
  content: "";
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  position: absolute;
  top: initial;
  bottom: -1px;
  transform: rotate(34deg);
  left: 20px;
  right: initial;
  margin: auto;
}
.section-experience .block-experience .icon-head img {
  max-width: 80px;
}
.section-experience .block-experience h4 {
  font-size: 20px;
}
.section-experience .block-experience h5 {
  font-size: 15px;
}
.section-experience .block-experience .dataTime {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: initial;
}
.section-experience .block-experience .dataTime p strong {
  margin: 0 5px;
}
.section-experience .block-experience p {
  font-size: 14px;
}

.section-project {
  padding-top: 80px;
  margin: 20px 0;
  position: relative;
}
.section-project .sliderProject .content .tilter__title {
  direction: rtl;
}
.section-project .sliderProject .owl-prev {
  top: 45% !important;
  left: 0 !important;
}
.section-project .sliderProject .owl-next {
  top: 45% !important;
  right: 0 !important;
}
.section-project .sliderProject .owl-stage {
  padding-bottom: 20px;
}

footer {
  padding: 50px;
  text-align: center;
  overflow: hidden;
  margin-top: 100px;
  padding-top: 0;
}
footer .social li a {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  flex-wrap: initial;
  width: 40px;
  height: 40px;
  background: #FFF;
  margin: 10px;
  border-radius: 5px;
  color: #356DFF;
  overflow: hidden;
  position: relative;
}
footer .social li a i {
  font-size: 18px;
  transition: 0.2s linear;
}
footer .social li a:hover i {
  transform: scale(1.1);
  color: #FFF;
}
footer .social li a::before {
  content: "";
  position: absolute;
  top: 90%;
  bottom: initial;
  transform: rotate(45deg);
  left: -110%;
  right: initial;
  margin: auto;
  width: 120%;
  height: 120%;
  background: #356DFF;
}
footer .social li a:hover::before {
  -webkit-animation: socialMedia 0.7s 1;
          animation: socialMedia 0.7s 1;
  top: -10%;
  left: -10%;
}

.parallax {
  height: 100%;
  overflow-x: hidden;
  perspective: 1px;
  position: absolute;
  width: 100%;
  top: 0;
  right: 0;
}

@media (min-width: 320px) {
  .row .col-sm {
    flex: 1;
  }
  .row .col-sm-1 {
    width: 8.3333333333%;
  }
  .row .col-sm-2 {
    width: 16.6666666667%;
  }
  .row .col-sm-3 {
    width: 25%;
  }
  .row .col-sm-4 {
    width: 33.3333333333%;
  }
  .row .col-sm-5 {
    width: 41.6666666667%;
  }
  .row .col-sm-6 {
    width: 50%;
  }
  .row .col-sm-7 {
    width: 58.3333333333%;
  }
  .row .col-sm-8 {
    width: 66.6666666667%;
  }
  .row .col-sm-9 {
    width: 75%;
  }
  .row .col-sm-10 {
    width: 83.3333333333%;
  }
  .row .col-sm-11 {
    width: 91.6666666667%;
  }
  .row .col-sm-12 {
    width: 100%;
  }
}
@media (min-width: 996px) {
  .row .col-md {
    flex: 1;
  }
  .row .col-md-1 {
    width: 8.3333333333%;
  }
  .row .col-md-2 {
    width: 16.6666666667%;
  }
  .row .col-md-3 {
    width: 25%;
  }
  .row .col-md-4 {
    width: 33.3333333333%;
  }
  .row .col-md-5 {
    width: 41.6666666667%;
  }
  .row .col-md-6 {
    width: 50%;
  }
  .row .col-md-7 {
    width: 58.3333333333%;
  }
  .row .col-md-8 {
    width: 66.6666666667%;
  }
  .row .col-md-9 {
    width: 75%;
  }
  .row .col-md-10 {
    width: 83.3333333333%;
  }
  .row .col-md-11 {
    width: 91.6666666667%;
  }
  .row .col-md-12 {
    width: 100%;
  }
}
@media (min-width: 1200px) {
  .row .col-lg {
    flex: 1;
  }
  .row .col-lg-1 {
    width: 8.3333333333%;
  }
  .row .col-lg-2 {
    width: 16.6666666667%;
  }
  .row .col-lg-3 {
    width: 25%;
  }
  .row .col-lg-4 {
    width: 33.3333333333%;
  }
  .row .col-lg-5 {
    width: 41.6666666667%;
  }
  .row .col-lg-6 {
    width: 50%;
  }
  .row .col-lg-7 {
    width: 58.3333333333%;
  }
  .row .col-lg-8 {
    width: 66.6666666667%;
  }
  .row .col-lg-9 {
    width: 75%;
  }
  .row .col-lg-10 {
    width: 83.3333333333%;
  }
  .row .col-lg-11 {
    width: 91.6666666667%;
  }
  .row .col-lg-12 {
    width: 100%;
  }
}
@media (max-width: 1060px) {
  .none {
    display: block;
  }
  .click-nav {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-wrap: initial;
  }
  header .head-nav {
    padding: 15px 25px;
  }
  header .head-nav nav {
    position: fixed;
    top: 0;
    bottom: initial;
    transform: translateX(100%);
    left: initial;
    right: 0;
    margin: auto;
    height: 100%;
    width: 300px;
    z-index: 999;
    padding: 30px 10px;
    transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    overflow-x: hidden;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    will-change: scroll-position;
    contain: size style layout;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  }
  header .head-nav nav ul {
    display: flex;
    align-items: initial;
    justify-content: initial;
    flex-direction: column;
    flex-wrap: initial;
  }
  header .head-nav nav ul li a {
    padding: 20px 25px;
  }
  header .head-nav nav ul li::after {
    content: "";
    position: absolute;
    top: 18px;
    bottom: initial;
    transform: initial;
    left: initial;
    right: 0px;
    margin: auto;
  }
  header .head-nav nav ul li.active::after, header .head-nav nav ul li:hover::after {
    position: absolute;
    top: 33px;
    bottom: initial;
    transform: rotate(40deg);
    left: initial;
    right: 10px;
    margin: auto;
  }
  .content-view {
    padding-top: 0px;
    padding-bottom: 50px;
    text-align: center;
  }
  .content-view .info-title {
    margin-top: 40px;
  }
  .content-view .info-title .info-me {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    flex-wrap: initial;
  }
  .content-view .info-title .info-me h1 {
    font-size: 25px;
  }
  .content-view .info-title .btn-button {
    margin: 20px auto;
  }
  .content-view .shape-anime {
    text-align: center;
  }
  .content-view .shape-anime .shape {
    height: 300px;
    width: 300px;
  }
}
html[dir=ltr] body {
  direction: ltr;
}
html[dir=ltr] .theme {
  position: fixed;
  top: initial;
  bottom: 20px;
  transform: initial;
  left: initial;
  right: 20px;
  margin: auto;
}
@media (max-width: 1060px) {
  html[dir=ltr] header .head-nav nav {
    position: fixed;
    top: 0;
    bottom: initial;
    transform: translateX(-100%);
    left: 0;
    right: initial;
    margin: auto;
  }
  html[dir=ltr] header .head-nav nav ul li::after {
    content: "";
    position: absolute;
    top: 18px;
    bottom: initial;
    transform: initial;
    left: 0;
    right: initial;
    margin: auto;
  }
  html[dir=ltr] header .head-nav nav ul li.active::after, html[dir=ltr] header .head-nav nav ul li:hover::after {
    position: absolute;
    top: 33px;
    bottom: initial;
    transform: rotate(40deg);
    left: 0;
    right: initial;
    margin: auto;
  }
}
html[dir=ltr] .section-about-me .desc-about-me ul::after {
  position: absolute;
  top: 10px;
  bottom: initial;
  transform: initial;
  left: 4px;
  right: initial;
  margin: auto;
}
html[dir=ltr] .section-about-me .desc-about-me ul li::after {
  position: absolute;
  top: 50%;
  bottom: initial;
  transform: translateY(-50%);
  left: 0;
  right: initial;
  margin: auto;
}

html[dir=rtl] body {
  direction: rtl;
}
html[dir=rtl] .theme {
  position: fixed;
  top: initial;
  bottom: 20px;
  transform: initial;
  left: 20px;
  right: initial;
  margin: auto;
}
html[dir=rtl] .section-about-me .desc-about-me ul::after {
  position: absolute;
  top: 10px;
  bottom: initial;
  transform: initial;
  left: initial;
  right: 4px;
  margin: auto;
}
html[dir=rtl] .section-about-me .desc-about-me ul li::after {
  position: absolute;
  top: 50%;
  bottom: initial;
  transform: translateY(-50%);
  left: initial;
  right: 0;
  margin: auto;
}
@media (max-width: 1060px) {
  html[dir=rtl] header .head-nav nav {
    position: fixed;
    top: 0;
    bottom: initial;
    transform: translateX(100%);
    left: initial;
    right: 0;
    margin: auto;
  }
  html[dir=rtl] header .head-nav nav ul li::after {
    content: "";
    position: absolute;
    top: 18px;
    bottom: initial;
    transform: initial;
    left: initial;
    right: 0px;
    margin: auto;
  }
  html[dir=rtl] header .head-nav nav ul li.active::after, html[dir=rtl] header .head-nav nav ul li:hover::after {
    position: absolute;
    top: 33px;
    bottom: initial;
    transform: rotate(40deg);
    left: initial;
    right: 10px;
    margin: auto;
  }
}/*# sourceMappingURL=main.css.map */