@use '../abstracts/variables' as *;

// Slide Down
@keyframes slideDown {
    0%{
        opacity: 0;
        transform: translateY(-100%);
    }
    100%{
        opacity: 1;
        transform: translateY(0%);   
    }
}

// Slide In
@keyframes slideIn {
    from {
        transform: translateY(100%);
    }
    to {
        transform: translateY(0%);
    }
}

// Translate3d Top
@keyframes translate3DRight {
    0% { 
        transform: translate3d(100%, 0, 0); 
        opacity: 0;
    }
    100% { 
        transform: translate3d(0, 0, 0);
        opacity: 1;
    }
}

// Translate3d Bottom
@keyframes translate3DTop {
    0% { 
        transform: translate3d(0, 100%, 0); 
        opacity: 0;
    }
    100% { 
        transform: translate3d(0, 0, 0); 
        opacity: 1;
    }
}

// Loading
@keyframes pathRect {
    25% {
        stroke-dashoffset: 64;
    }
    50% {
        stroke-dashoffset: 128;
    }
    75% {
        stroke-dashoffset: 192;
    }
    100% {
        stroke-dashoffset: 256;
    }
}
@keyframes dotRect {
    25% {
        transform: translate(0, 0);
    }
    50% {
        transform: translate(18px, -18px);
    }
    75% {
        transform: translate(0, -36px);
    }
    100% {
        transform: translate(-18px, -18px);
    }
}

// Social
@keyframes socialMedia {
    0%{
        left: -110%;
        top: 90%;
    }50%{
        left: 10%;
        top: -30%;
    }100%{
        top: -10%;
        left: -10%;
    }
}

// Name Animation
@keyframes animate44 {
    0%,
    100% {
        clip-path: polygon(
        0% 45%,
        16% 44%,
        33% 50%,
        54% 60%,
        70% 61%,
        84% 59%,
        100% 52%,
        100% 100%,
        0% 100%
        );
    }
    
    50% {
        clip-path: polygon(
        0% 60%,
        15% 65%,
        34% 66%,
        51% 62%,
        67% 50%,
        84% 45%,
        100% 46%,
        100% 100%,
        0% 100%
        );
    }
}

// Framer Img

@keyframes morph {
    0% {
        border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
        background: linear-gradient(45deg, $mainColor 0%, $mainColor 100%);
    }
    50% {
        border-radius: 30% 60% 70% 40%/50% 60% 30% 60%;
        background: linear-gradient(45deg, $mainColor 0%, $mainColor 100%);
    }
    100% {
        border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
        background: linear-gradient(45deg, $mainColor 0%, $mainColor 100%);
    }
}