@use '../abstracts/variables' as *;

// Slide Down
@keyframes slideDown {
    0%{
        opacity: 0;
        transform: translateY(-100%);
    }
    100%{
        opacity: 1;
        transform: translateY(0%);   
    }
}

// Slide In
@keyframes slideIn {
    from {
        transform: translateY(100%);
    }
    to {
        transform: translateY(0%);
    }
}

// Translate3d Top
@keyframes translate3DRight {
    0% { 
        transform: translate3d(100%, 0, 0); 
        opacity: 0;
    }
    100% { 
        transform: translate3d(0, 0, 0);
        opacity: 1;
    }
}

// Translate3d Bottom
@keyframes translate3DTop {
    0% { 
        transform: translate3d(0, 100%, 0); 
        opacity: 0;
    }
    100% { 
        transform: translate3d(0, 0, 0); 
        opacity: 1;
    }
}

// Loading
@keyframes pathRect {
    25% {
        stroke-dashoffset: 64;
    }
    50% {
        stroke-dashoffset: 128;
    }
    75% {
        stroke-dashoffset: 192;
    }
    100% {
        stroke-dashoffset: 256;
    }
}
@keyframes dotRect {
    25% {
        transform: translate(0, 0);
    }
    50% {
        transform: translate(18px, -18px);
    }
    75% {
        transform: translate(0, -36px);
    }
    100% {
        transform: translate(-18px, -18px);
    }
}

// Social
@keyframes socialMedia {
    0%{
        left: -110%;
        top: 90%;
    }50%{
        left: 10%;
        top: -30%;
    }100%{
        top: -10%;
        left: -10%;
    }
}

// Name Animation
@keyframes animate44 {
    0%,
    100% {
        clip-path: polygon(
        0% 45%,
        16% 44%,
        33% 50%,
        54% 60%,
        70% 61%,
        84% 59%,
        100% 52%,
        100% 100%,
        0% 100%
        );
    }
    
    50% {
        clip-path: polygon(
        0% 60%,
        15% 65%,
        34% 66%,
        51% 62%,
        67% 50%,
        84% 45%,
        100% 46%,
        100% 100%,
        0% 100%
        );
    }
}

// Wave Fix
@keyframes pathAnim-0{
    0%{
        d: path("M 0,400 C 0,400 0,200 0,200 C 107.14285714285714,160.25 214.28571428571428,120.5 327,131 C 439.7142857142857,141.5 558,202.25 671,203 C 784,203.75 891.7142857142858,144.5 1019,134 C 1146.2857142857142,123.5 1293.142857142857,161.75 1440,200 C 1440,200 1440,400 1440,400 Z");
    }
    25%{
        d: path("M 0,400 C 0,400 0,200 0,200 C 95.71428571428572,206.5 191.42857142857144,213 336,198 C 480.57142857142856,183 674,146.5 786,133 C 898,119.5 928.5714285714284,129.00000000000003 1024,144 C 1119.4285714285716,158.99999999999997 1279.7142857142858,179.5 1440,200 C 1440,200 1440,400 1440,400 Z");
    }
    50%{
        d: path("M 0,400 C 0,400 0,200 0,200 C 94.53571428571428,211.25 189.07142857142856,222.5 312,218 C 434.92857142857144,213.5 586.25,193.25 723,176 C 859.75,158.75 981.9285714285716,144.5 1099,149 C 1216.0714285714284,153.5 1328.0357142857142,176.75 1440,200 C 1440,200 1440,400 1440,400 Z");
    }
    75%{
        d: path("M 0,400 C 0,400 0,200 0,200 C 104.64285714285714,162.57142857142856 209.28571428571428,125.14285714285714 318,148 C 426.7142857142857,170.85714285714286 539.5000000000001,254 669,260 C 798.4999999999999,266 944.7142857142858,194.85714285714286 1076,172 C 1207.2857142857142,149.14285714285714 1323.642857142857,174.57142857142856 1440,200 C 1440,200 1440,400 1440,400 Z");
    }
    100%{
        d: path("M 0,400 C 0,400 0,200 0,200 C 107.14285714285714,160.25 214.28571428571428,120.5 327,131 C 439.7142857142857,141.5 558,202.25 671,203 C 784,203.75 891.7142857142858,144.5 1019,134 C 1146.2857142857142,123.5 1293.142857142857,161.75 1440,200 C 1440,200 1440,400 1440,400 Z");
    }
}