// Slide Down
@keyframes slideDown {
    0%{
        opacity: 0;
        transform: translateY(-100%);
    }
    100%{
        opacity: 1;
        transform: translateY(0%);   
    }
}

// Fade In
@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: scale(0);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}

// Slide In
@keyframes slideIn {
    from {
        transform: translateY(100%);
    }
    to {
        transform: translateY(0%);
    }
}

// Write Text
@keyframes animatedWidth{
    from{
        max-width: 0;
        opacity: 0;
    }
    to{
        max-width: 100%;
        opacity: 0;
    }
}

// Translate3d Top
@keyframes translate3DRight {
    0% { 
        transform: translate3d(100%, 0, 0); 
        opacity: 0;
    }
    100% { 
        transform: translate3d(0, 0, 0);
        opacity: 1;
    }
}

// Translate3d Bottom
@keyframes translate3DTop {
    0% { 
        transform: translate3d(0, 100%, 0); 
        opacity: 0;
    }
    100% { 
        transform: translate3d(0, 0, 0); 
        opacity: 1;
    }
}

// Loading
@keyframes loader {
    0% { 
        left: 0; 
        height: 30px; 
        width: 15px 
    }
    50% { 
        height: 8px; 
        width: 40px 
    }
    100% { 
        left: 235px; 
        height: 30px; 
        width: 15px
    }
}