@use '../abstracts/mixins' as *;
@use '../abstracts/variables' as *;
@use './animation' as *;

// Style Click Nav
.click-nav {
        position: relative;
        z-index: 999;
        width: 40px;
        height: 44px;
        @include flexItem(none, center, center, column, initial);
    .handle {
        height: 1px;
        width: 100%;
        margin: 0.32em auto;
        transition: all 350ms cubic-bezier(0.28, 0.55, 0.385, 1.65);
        transition-timing-function: cubic-bezier(0.28, 0.55, 0.385, 1.65);
    }
    .closed {
        width: 40px;
        position: relative;
        transform: rotate(45deg);
        top: -7px;
    }
    .closed:nth-of-type(2) {
        transform: rotate(-45deg);
        margin: -0.4em 0.4em;
    }
    .closed:nth-of-type(3) {
        display: none;
    }
}

// Theme Section
.theme{
    @include positionItem(fixed, initial, 20px, initial, initial, initial);
    z-index: 999;
    button{
        position: relative;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
        overflow: hidden;
        i{
            @include positionItem(absolute, 50%, initial, 0, 0, translate(100%, -50%));
            font-size: 22px;
        }
        &.light{
            .icon-moon{
                transform: translate(0, -50%) !important;
            }
            .icon-sun-full{
                transform: translate(100%, -50%) !important;
            }
        }

        &.dark{
            .icon-sun-full{
                transform: translate(0, -50%) !important;
            }
            .icon-moon{
                transform: translate(-100%, -50%) !important;
            }
        }
    }
}

// Social
.block-media{
    @include positionItem(fixed, 50%, initial, initial, initial, translateY(-50%));
    z-index: 999;
    .social{
        @include flexItem(flex, center, center, column, initial);
        box-shadow: rgb(100 100 111 / 20%) 0px 7px 29px 0px;
        border-radius: 50px;
        padding: 15px 0;
        li{
            a{
                @include flexItem(flex, center, center, row, initial);
                width: 40px;
                height: 40px;
                background: $whiteColor;
                margin: 5px 10px;
                border-radius: 5px;
                color: $mainColor;
                overflow: hidden;
                position: relative;
                i{
                    font-size: 18px;
                    transition: 0.2s linear;
                }
                &:hover i{
                    transform: scale(1.1);
                    color: $whiteColor;
                }
                &::before{
                    content: "";
                    @include positionItem(absolute, 90%, initial, -110%, initial, rotate(45deg));
                    width: 120%;
                    height: 120%;
                    background: $mainColor;
                }
                &:hover::before{
                    animation: socialMedia 0.7s 1;
                    top: -10%;
                    left: -10%;
                }
            }
        }
    }
}

// Head Title
.head-title{
    text-align: center;
    margin: auto;
    margin-bottom: 70px;
    display: table;
    width: 200px;
    height: 50px;
    line-height: 45px;
    position: relative;
    h4{
        margin: 0;
        &::before{
            content: "";
            position: absolute;
            top: 0px;
            height: 50px;
            left: -25px;
            width: 25px;
            border-top-right-radius: 25px;
        }
        &::after {
            content: "";
            position: absolute;
            top: 0px;
            height: 50px;
            right: -25px;
            width: 25px;
            border-top-left-radius: 25px;
        }
    }
    &::after{
        content: "";
        width: 0;
        height: 0;
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        @include positionItem(absolute, initial, -15px, initial, 20px, initial);
    }
    &::before{
        content: "";
        width: 0;
        height: 0;
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        @include positionItem(absolute, initial, -15px, 20px, initial, initial);
    }
}

// Header
header{
    position: fixed;
    top: 25px;
    z-index: 9999;
    width: 100%;
    .head-nav{
        @include flexItem(flex, center, space-between, row, wrap);
        border-radius: 50px;
        padding: 0 30px;
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
        .logo{
            color: transparent;
            position: relative;
            margin: 0;
            &:before{
                content: "PRO CODE";
                text-align: center;
                animation: animate44 4s ease-in-out infinite;
                @include positionItem(absolute, 50%, initial, 0, 0, translateY(-50%));
            }
        }
        nav{
            @include flexItem(flex, center, center, row, wrap);
            li{
                position: relative;
                &::after{
                    content: "";
                    @include positionItem(absolute, initial, 7px, 0, 0, initial);
                    @include transition(0.5s);
                    opacity: 0;
                    visibility: hidden;
                    width: 7px;
                    height: 7px;
                }
                a{
                    position: relative;
                    padding: 25px 15px;
                    z-index: 9;
                    opacity: 0.3;
                    font-weight: bold;
                }
                &.active, &:hover{
                    a{
                        opacity: 1;
                    }
                    &::after{
                        content: "";
                        @include positionItem(absolute, initial, 15px, 0, 0, rotate(40deg));
                        opacity: 1;
                        visibility: initial;
                    }
                }
            }
            button{
                width: 40px;
                height: 40px;
                border-radius: 50%;
                background-color: $mainColor;
                color: $whiteColor;
            }
        }
    }
    &.header-fixed{
        animation: slideDown 0.7s;
    }
}

// Content View
.content-view{
    .container, .row{
        height: 100%;
        z-index: 99;
    }
    .row{
        flex-direction: row-reverse;
        align-items: center
    }
    .info-title{
        @include flexItem(flex, initial, center, column, initial);
        height: 100%;
        overflow: hidden;
        .info-me{
            @include flexItem(flex, center, initial, row, initial);
            animation: translate3DRight 1.5s;
            h1{
                margin: 0;
                font-size: 40px;
                &:last-child{
                    margin: 0 10px;
                }
            }
        }
        h2{
            margin: 0;
        }
        .btn-button{
            margin: 20px 0;
        }
        h2, p, .btn-button{
            animation: translate3DTop 2s;
        }
    }
    .shape-anime{
        text-align: center;
        img{
            max-width: 100%;
            z-index: 99;
            animation: translate3DTop 1s;
        }
    }
}

// Section Experience
.section-experience{
    padding-top: 100px;
    .bgSection {
        border-radius: 20px;
    }
    .block-experience{
        border-radius: 20px;
        box-shadow: rgb(100 100 111 / 20%) 0px 0px 4px 0px;
        text-align: center;
        padding: 20px;
        margin: 35px auto;
        max-width: 60%;
        padding-top: 100px;
        .icon-head{
            @include flexItem(flex, center, center, row, initial);
            border-radius: 50%;
            width: 150px;
            height: 150px;
            margin: auto;
            @include positionItem(absolute, -25px, initial, 0, 0, initial);
            &::after{
                content: "";
                width: 0;
                height: 0;
                border-left: 10px solid transparent;
                border-right: 10px solid transparent;
                @include positionItem(absolute, initial, -1px, initial, 20px, rotate(-34deg));
            }
            &::before{
                content: "";
                width: 0;
                height: 0;
                border-left: 10px solid transparent;
                border-right: 10px solid transparent;
                @include positionItem(absolute, initial, -1px, 20px, initial, rotate(34deg));
            }
            img{
                max-width: 80px
            }
        }
        h4{
            font-size: 20px
        }
        h5{
            font-size: 15px
        }
        .dataTime{
            @include flexItem(flex, center, space-between, row, initial);
            p{
                strong{
                    margin: 0 5px;
                }
            }
        }
        p{
            font-size: 14px;
        }
    }
}

// Section About Me
.section-about-me{
    padding-top: 80px;
    margin: 20px 0;
    .desc-about-me{
        margin: 20px 0;
        ul{
            position: relative;
            &::after{
                content: "";
                @include positionItem(absolute, 10px, initial, initial, initial, initial);
                width: 2px;
                height: 93%;
                background-color: $mainColor;
            }
            li{
                margin: 20px 0;
                position: relative;
                padding: 0 40px;
                display: block;
                &::after{
                    content: "";
                    @include positionItem(absolute, 50%, initial, initial, initial, translateY(-50%));
                    width: 10px;
                    height: 10px;
                    background-color: $mainColor;
                }
                span{
                    font-weight: bold;
                }
            }
        }
    }
    .img-about-me{
        position: relative;
        overflow: hidden;
        margin: 20px 0;
        img{
            position: relative;
            max-width: 100%;
            &:first-child{
                position: absolute;
                max-width: 80%;
            }
            &:last-child{
                z-index: 9;
            }
        }
    }
}

// Count Section
.count-section{
    margin: 20px auto;
    padding: 100px 0;
    .bgSection{
        border-radius: 20px;
        .pernet-count{
            text-align: center;
            margin: 20px 0;
            h3{
                margin-top: 25px;
                margin-bottom: 0;
            }
            .count-box{
                width: 190px;
                height: 190px;
                margin: 10px auto;
                background-color: $whiteColor;
                box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
                border-radius: 50%;
                @include flexItem(flex, center, center, column, initial);
                .svg-box {
                    position: relative;
                    text-align: center;
                    width: 180px;
                    height: 180px;
                    .textCount {
                        position: absolute;
                        top: 50%;
                        left: 0;
                        right: 0;
                        margin: auto;
                        transform: translateY(-50%);
                        z-index: 1;
                        font-size: 2em;
                        letter-spacing: 3px;
                    }
                    svg {
                        transform: rotate(-90deg);
                        width: 180px;
                        height: 180px;
                        fill: none;
                    }
                    svg circle {
                        stroke-width: 10;
                        stroke: #eee !important;
                    }
                    svg .bar {
                        stroke-width: 10;
                        stroke: $mainColor !important;
                        stroke-linecap: round;
                    }
                }      
            }
        }
    }
}

// Section Projects
.section-project{
    padding-top: 80px;
    margin: 20px 0;
    position: relative;
    .sliderProject{
        .content{
            .tilter__title{
                direction: rtl;
            }
        }
        .img-project{
            display: block;
            border: 5px solid #eee;
            border-radius: 10px;
            main{
                img{
                    width: 100%;
                    height: 400px;
                }
            }
        }
        .owl-prev {
            top: 45% !important;
            left: 0 !important;
        }
        .owl-next{
            top: 45% !important;
            right: 0 !important;
        }
        .owl-stage{
            padding-bottom: 20px;
        }
    }
}

svg{
    position: absolute;
    bottom: 0;
    right: 0;
}

// .path-0{
//     animation:pathAnim-0 4s;
//     animation-timing-function: linear;
//     animation-iteration-count: infinite;
// }
// @keyframes pathAnim-0{
//     0%{
//         d: path("M 0,700 C 0,700 0,350 0,350 C 19.054914648424692,317.4281232962022 38.109829296849384,284.8562465924045 60,282 C 81.89017070315062,279.1437534075955 106.61559746102714,306.0031369265843 131,298 C 155.38440253897286,289.9968630734157 179.4277808590421,247.13120570125818 210,281 C 240.5722191409579,314.8687942987418 277.67327910280466,425.47204026838284 301,456 C 324.32672089719534,486.52795973161716 333.87910272973926,436.98063322521034 352,429 C 370.12089727026074,421.01936677478966 396.81030997823814,454.6054268307759 421,407 C 445.18969002176186,359.3945731692241 466.87965735730825,230.5976594516861 492,227 C 517.1203426426918,223.4023405483139 545.6710605925288,345.0039353624797 575,363 C 604.3289394074712,380.9960646375203 634.4361002725768,295.3865990983951 657,290 C 679.5638997274232,284.6134009016049 694.5845383171641,359.44966824393987 717,376 C 739.4154616828359,392.55033175606013 769.2257464587669,350.81472792584555 794,314 C 818.7742535412331,277.18527207415445 838.5124758477683,245.291420052678 862,257 C 885.4875241522317,268.708579947322 912.7243501501596,324.0195918634425 939,330 C 965.2756498498404,335.9804081365575 990.5901235515935,292.630212493552 1012,276 C 1033.4098764484065,259.369787506448 1050.9151556434663,269.4595581623495 1071,287 C 1091.0848443565337,304.5404418376505 1113.749253874541,329.53155485704997 1140,374 C 1166.250746125459,418.46844514295003 1196.0878288583704,482.41422240945053 1222,449 C 1247.9121711416296,415.58577759054947 1269.8994306919772,284.8115555051479 1295,235 C 1320.1005693080228,185.18844449485206 1348.3144483737208,216.33955556995772 1373,249 C 1397.6855516262792,281.6604444300423 1418.8427758131397,315.83022221502114 1440,350 C 1440,350 1440,700 1440,700 Z");
//     }
//     25%{
//         d: path("M 0,700 C 0,700 0,350 0,350 C 18.005519937998933,412.1515924122367 36.01103987599787,474.30318482447336 62,451 C 87.98896012400213,427.69681517552664 121.9613604340075,318.93885311434315 152,330 C 182.0386395659925,341.06114688565685 208.1435183879721,471.94140271815394 227,458 C 245.8564816120279,444.05859728184606 257.46456601410404,285.295536013041 276,278 C 294.53543398589596,270.704463986959 319.99821755561175,414.876453229682 351,437 C 382.00178244438825,459.123546770318 418.5425637634491,359.19865106823113 440,333 C 461.4574362365509,306.80134893176887 467.831527390592,354.3289424973935 493,359 C 518.168472609408,363.6710575026065 562.1313266741832,325.48557894219493 586,294 C 609.8686733258168,262.51442105780507 613.6431659126749,237.72874173382655 635,270 C 656.3568340873251,302.27125826617345 695.296009675117,391.5994541224987 721,436 C 746.703990324883,480.4005458775013 759.1727953868573,479.87344177617894 783,457 C 806.8272046131427,434.12655822382106 842.0128087774543,388.9067787727856 871,357 C 899.9871912225457,325.0932212272144 922.7759695033253,306.49944313267866 944,290 C 965.2240304966747,273.50055686732134 984.8833132092439,259.09544869649966 1008,300 C 1031.1166867907561,340.90455130350034 1057.6907776596993,437.1187620813228 1085,468 C 1112.3092223403007,498.8812379186772 1140.353576151959,464.4295029782091 1164,459 C 1187.646423848041,453.5704970217909 1206.8949177324646,477.1632260058409 1228,472 C 1249.1050822675354,466.8367739941591 1272.0667529181826,432.91759299842744 1295,395 C 1317.9332470818174,357.08240700157256 1340.838070594805,315.1664020004493 1365,307 C 1389.161929405195,298.8335979995507 1414.5809647025976,324.4167989997753 1440,350 C 1440,350 1440,700 1440,700 Z");
//     }
//     50%{
//         d: path("M 0,700 C 0,700 0,350 0,350 C 27.405884533340668,328.8467805542319 54.811769066681336,307.69356110846377 75,321 C 95.18823093331866,334.30643889153623 108.15880826661532,382.07253612037675 134,382 C 159.84119173338468,381.92746387962325 198.55299786685742,334.01629441002916 226,335 C 253.44700213314258,335.98370558997084 269.62920026595503,385.8622862395065 292,417 C 314.37079973404497,448.1377137604935 342.9302010693224,460.53456063194477 368,432 C 393.0697989306776,403.46543936805523 414.64999545675533,333.9994712327145 440,342 C 465.35000454324467,350.0005287672855 494.4698171036563,435.46755443719707 516,416 C 537.5301828963437,396.53244556280293 551.4707361286195,272.1303110184974 573,259 C 594.5292638713805,245.86968898150255 623.6472383818661,344.0112014888132 646,371 C 668.3527616181339,397.9887985111868 683.940310343916,353.82488302624967 709,334 C 734.059689656084,314.17511697375033 768.5915202424696,318.68926640618804 796,357 C 823.4084797575304,395.31073359381196 843.6936086862052,467.41805134899835 867,435 C 890.3063913137948,402.58194865100165 916.6340450127096,265.63852819781846 943,224 C 969.3659549872904,182.3614718021815 995.770211262957,236.0278358597277 1017,283 C 1038.229788737043,329.9721641402723 1054.2851099354623,370.2501283632706 1073,360 C 1091.7148900645377,349.7498716367294 1113.0893489951939,288.97165068718994 1138,294 C 1162.9106510048061,299.02834931281006 1191.3574940837625,369.8632688879697 1219,356 C 1246.6425059162375,342.1367311120303 1273.4806746697564,243.57527376093122 1297,262 C 1320.5193253302436,280.4247262390688 1340.7198072372123,415.83563606830535 1364,450 C 1387.2801927627877,484.16436393169465 1413.640096381394,417.0821819658473 1440,350 C 1440,350 1440,700 1440,700 Z");
//     }
//     75%{
//         d: path("M 0,700 C 0,700 0,350 0,350 C 18.588622998330962,324.61561641568505 37.177245996661924,299.23123283137016 62,273 C 86.82275400333808,246.76876716862984 117.87963901168322,219.69068509020445 146,250 C 174.12036098831678,280.30931490979555 199.30419795660515,368.00602680781213 226,398 C 252.69580204339485,427.99397319218787 280.9035691618963,400.28520767854707 300,400 C 319.0964308381037,399.71479232145293 329.08152539580936,426.85314247799994 353,423 C 376.91847460419064,419.14685752200006 414.7703292548663,384.3022224094531 440,383 C 465.2296707451337,381.6977775905469 477.8371575847257,413.9379678841875 499,389 C 520.1628424152743,364.0620321158125 549.881040406231,281.945906053797 572,302 C 594.118959593769,322.054093946203 608.6386807903506,444.27840790062464 637,443 C 665.3613192096494,441.72159209937536 707.5642364323668,316.94046234370455 731,319 C 754.4357635676332,321.05953765629545 759.1043734801825,449.9597427245571 782,458 C 804.8956265198175,466.0402572754429 846.018269646903,353.2205667580669 874,355 C 901.981730353097,356.7794332419331 916.8225479322057,473.15799024317516 938,469 C 959.1774520677943,464.84200975682484 986.691538624274,340.14747226923254 1008,315 C 1029.308461375726,289.85252773076746 1044.411297570698,364.25212067989474 1071,402 C 1097.588702429302,439.74787932010526 1135.6632710929343,440.8440450111884 1159,379 C 1182.3367289070657,317.1559549888116 1190.935618057564,192.37169927535155 1212,219 C 1233.064381942436,245.62830072464845 1266.5942566768097,423.6691578874053 1297,439 C 1327.4057433231903,454.3308421125947 1354.6873552351972,306.95166917502706 1378,265 C 1401.3126447648028,223.04833082497296 1420.6563223824014,286.52416541248647 1440,350 C 1440,350 1440,700 1440,700 Z");
//     }
//     100%{
//         d: path("M 0,700 C 0,700 0,350 0,350 C 19.054914648424692,317.4281232962022 38.109829296849384,284.8562465924045 60,282 C 81.89017070315062,279.1437534075955 106.61559746102714,306.0031369265843 131,298 C 155.38440253897286,289.9968630734157 179.4277808590421,247.13120570125818 210,281 C 240.5722191409579,314.8687942987418 277.67327910280466,425.47204026838284 301,456 C 324.32672089719534,486.52795973161716 333.87910272973926,436.98063322521034 352,429 C 370.12089727026074,421.01936677478966 396.81030997823814,454.6054268307759 421,407 C 445.18969002176186,359.3945731692241 466.87965735730825,230.5976594516861 492,227 C 517.1203426426918,223.4023405483139 545.6710605925288,345.0039353624797 575,363 C 604.3289394074712,380.9960646375203 634.4361002725768,295.3865990983951 657,290 C 679.5638997274232,284.6134009016049 694.5845383171641,359.44966824393987 717,376 C 739.4154616828359,392.55033175606013 769.2257464587669,350.81472792584555 794,314 C 818.7742535412331,277.18527207415445 838.5124758477683,245.291420052678 862,257 C 885.4875241522317,268.708579947322 912.7243501501596,324.0195918634425 939,330 C 965.2756498498404,335.9804081365575 990.5901235515935,292.630212493552 1012,276 C 1033.4098764484065,259.369787506448 1050.9151556434663,269.4595581623495 1071,287 C 1091.0848443565337,304.5404418376505 1113.749253874541,329.53155485704997 1140,374 C 1166.250746125459,418.46844514295003 1196.0878288583704,482.41422240945053 1222,449 C 1247.9121711416296,415.58577759054947 1269.8994306919772,284.8115555051479 1295,235 C 1320.1005693080228,185.18844449485206 1348.3144483737208,216.33955556995772 1373,249 C 1397.6855516262792,281.6604444300423 1418.8427758131397,315.83022221502114 1440,350 C 1440,350 1440,700 1440,700 Z");
//     }
// }

section{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.over-shape{
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    padding: 30px;
    border-radius: 30px;
    height: 70%;
    width: 100%;
}