@use '../abstracts/mixins' as *;

// Dir LTR

html[dir=ltr] {

    // Body App
    body{
        direction: ltr;
    }

    // Theme App
    .theme, .block-media{
        right: 20px;
    }

    // Section About Me
    .section-about-me{
        .desc-about-me{
            ul{
                &::after{
                    left: 4px;
                }
                li{
                    &::after{
                        left: 0;
                    }
                }
            }
        }
    }

    @media (max-width: 1060px) {
        // Header
        header{
            .head-nav{
                nav{
                    @include positionItem(fixed, 0, initial, 0, initial, translateX(-100%));
                    ul{
                        li{
                            &::after{
                                content: "";
                                @include positionItem(absolute, 18px, initial, 0, initial, initial);
                            }
                            &.active, &:hover{
                                &::after{
                                    @include positionItem(absolute, 33px, initial, 0, initial, rotate(40deg));
                                }
                            }
                        }
                    }
                }
            }
        }
    }

}

// Dir RTL

html[dir=rtl] {

    // Body App
    body{
        direction: rtl;
    }

    // Theme App
    .theme, .block-media{
        left: 20px;
    }

    // Section About Me
    .section-about-me{
        .desc-about-me{
            ul{
                &::after{
                    right: 4px;
                }
                li{
                    &::after{
                        right: 0;
                    }
                }
            }
        }
    }

    @media (max-width: 1060px) {
        // Header
        header{
            .head-nav{
                nav{
                    @include positionItem(fixed, 0, initial, initial, 0, translateX(100%));
                    ul{
                        li{
                            &::after{
                                content: "";
                                @include positionItem(absolute, 18px, initial, initial, 0px, initial);
                            }
                            &.active, &:hover{
                                &::after{
                                    @include positionItem(absolute, 33px, initial, initial, 10px, rotate(40deg));
                                }
                            }
                        }
                    }
                }
            }
        }
    }

}