// Font Import Cdn
@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@400;700&display=swap');

// Mixin
@import '../abstracts/mixins';
@import '../abstracts/variables';

// Local Style Page

* {
    border: 0;
    margin: 0;
    padding: 0;
    outline: none !important;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    overflow-x: hidden !important;
    font-family: 'Cairo', sans-serif;
    scroll-behavior: smooth;
}

a, button, input, textarea, i{
    @include transition(0.5s);
}

img{
    object-fit: cover;
}

a{
    text-decoration: none !important;
    cursor: pointer;
    display: flex;
}

i{
    vertical-align: middle;
}

h1,h2,h3,h4,h5,h6,p{
    margin: 10px 0;
}

ul{
    list-style: none;
    padding: 0;
    margin: 0;
}

li{
    display: inline-block;
}

// Style Scroll Site

::-webkit-scrollbar {
    width: 0;
    height: 0;
}

// Class Important

.colorMain{
    color: $mainColor !important;
}

.overlay{
    @include positionItem(fixed, 0, initial, initial, 0, translateX(100%));
    @include transition(0.3s);
    height: 100%;
    width: 100%;
    z-index: 998;
    background-color: rgba(0,0,0,0.6);              
}

.back{
    transform: translate(0) !important;
}

.container{
    max-width: 1320px;
    margin: auto;
    padding: 0 20px;
}

.position-relative{
    position: relative;
}

.row{
    @include flexItem(flex, initial, initial, row, wrap);
}

.overflow-hidden{
    overflow: hidden !important;
}

.none{
    display: none;
}

.owl-carousel{
    display: block;
    width: 100%;
    -webkit-tap-highlight-color: transparent;
    position: relative;
    direction: ltr;
    .owl-nav, .owl-dots{
        display: none;
    }
    &.owl-switch {
        .owl-nav{
            @include flexItem(flex, center, space-between, row, wrap);
            width: 100%;
            button{
                width: 40px;
                height: 40px;
                @include flexItem(flex, center, center, row, wrap);
            }
            .owl-prev{
                @include positionItem(absolute, 20%, initial, -20px, initial, initial);
                i{
                    transform: rotate(180deg);
                }
            }
            .owl-next{
                @include positionItem(absolute, 20%, initial, initial, -20px, initial);
            }
        }
    }
}