@use '../abstracts/variables' as *;
@use '../abstracts/mixins' as *;

// Style Button Site

button{
    background-color: transparent;
    border: 0;
    cursor: pointer;
}
  
.btnMain{
    background: $mainColor !important;
    color: $whiteColor !important;
    border: 1px solid $mainColor !important;
}
  
.btn-button{
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 45px;
    width: 180px;
    position: relative;
    font-size: 15px;
    &:before{
      content: "";
      height: 3px;
      width: 20px;
      @include positionItem(absolute, -1px, initial, initial, 22px, initial);
      z-index: 2;
    }
    &::after{
      content: "";
      height: 3px;
      width: 20px;
      @include positionItem(absolute, initial, -1px, 22px, initial, initial);
      z-index: 2;
    }
    &:hover{
      transform: scale(0.9);
    }
}