@use '../abstracts/variables' as *;
@use '../abstracts/mixins' as *;

// Style Button Site

button{
    background-color: transparent;
    border: 0;
    cursor: pointer;
}
  
.btnMain{
    background: $mainColor !important;
    color: $whiteColor !important;
    border: 1px solid $mainColor !important;
}
  
.btn-button{
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 45px;
    width: 180px;
    position: relative;
    font-size: 15px;
    &:hover{
      transform: scale(0.5);
    }
}