@use '../abstracts/variables' as *;


html[theme=dark] {

    body{
        background-color: $secondColor;
    }

    // Selection App
    ::selection {
        background: $mainColor;
        color: $mainColor;
    }
    ::-moz-selection {
        background: $mainColor;
        color: $mainColor;
    }

    // For App LgihtMode
    a{
        color: $whiteColor;
    }
    h1, h2, h3, h4, h5, h6, p, li{
        color: $whiteColor;
    }

    // Classes Used
    .colorSecond{
        color: $whiteColor;
    }
    .bgSection{
        background-color: $bgDarkColor;
    }
    .bgToggle{
        background-color: $secondColor;
    }

    // Style Click Nav
    .click-nav {
        .handle {
            background-color: $whiteColor;
        }
    }

    // Owl
    .owl-switch {
        .owl-nav{
            button{
                background-color: $secondColor;
                i{
                    color: $whiteColor;
                }
            }
        }
    }

    // Wave
    .wave {
        filter: drop-shadow(0px -2px 5px $bgDarkColor);
        path{
            fill: $secondColor;
        }
    }

    // Theme Section
    .theme{
        button{
            background-color: $bgDarkColor;
            i{
                color: $whiteColor;
            }
        }
    }

    // Header
    header{
        .head-nav{
            background-color: $secondColor;
            nav{
                background-color: $secondColor;
                li{
                    a{
                        color: $whiteColor;
                    }
                    &::after{
                        background-color: $whiteColor;
                    }
                }
            }
        }
    }

    // Content View
    .content-view{
        .shape-anime{
            #framer{
                background-color: $bgDarkColor;
            }
        }
    }

    // Count Section
    .count-section{
        .bgSection{
            .count-box{
                .svg-box {
                    svg circle {
                        stroke: $bgDarkColor;
                    }
                }      
            }
        }
    }

     // Head Title
     .head-title{
        &::after{
            border-top: 15px solid $bgDarkColor;
        }
        &::before{
            border-top: 15px solid $bgDarkColor;
        }
        &.bgToggle{
            h4{
                &::before, &::after{
                    box-shadow: 0 -25px 0 0 $secondColor;
                }
            }
            &::after{
                border-top: 15px solid $secondColor;
            }
            &::before{
                border-top: 15px solid $secondColor;
            }
        }
    }

    // Section About Me
    .section-about-me{
        .img-about-me{
            img{
                &:first-child{
                    opacity: 1;
                }
            }
        }
    }

    // Section Experience
    .section-experience{
        .block-experience{
            background-color: $secondColor;
            .icon-head{
                &::after, &::before{
                    border-top: 15px solid $bgDarkColor;
                }
            }
        }
    }
    
}