@use '../abstracts/variables' as *;


html[theme=dark] {

    body{
        background-color: $secondColor;
    }

    // Selection App
    ::selection {
        background: $mainColor;
        color: $mainColor;
    }
    ::-moz-selection {
        background: $mainColor;
        color: $mainColor;
    }

    // For App LgihtMode
    a{
        color: $whiteColor;
    }
    h1, h2, h3, h4, h5, h6, p, li{
        color: $whiteColor;
    }

    // Classes Used
    .colorSecond{
        color: $whiteColor;
    }
    .bgSection{
        background-color: $bgDarkColor;
    }
    .bgToggle{
        background-color: $secondColor;
    }

    // Style Click Nav
    .click-nav {
        .handle {
            background-color: $whiteColor;
        }
    }

    // BTN
    .btnSecond{
        background: $mainColor !important;
        color: $whiteColor !important;
        border: 1px solid $mainColor !important;
    }
    .btnBorder{
        background: transparent !important;
        color: $whiteColor !important;
        border: 1px solid $whiteColor !important;
    }
    .btn-button{
        &:before{
          background-color: $secondColor;
        }
        &::after{
          background-color: $secondColor;
        }
    }

    // Theme Section
    .theme{
        button{
            background-color: $bgDarkColor;
            i{
                color: $whiteColor;
            }
        }
    }

    // Header
    header{
        .head-nav{
            background-color: $secondColor;
            nav{
                background-color: $secondColor;
                li{
                    &::after{
                        background-color: $whiteColor;
                    }
                }
            }
        }
    }

    // Count Section
    .count-section{
        .bgSection{
            .count-box{
                .svg-box {
                    svg circle {
                        stroke: $bgDarkColor;
                    }
                }      
            }
        }
    }

     // Head Title
     .head-title{
        &::after{
            border-top: 15px solid $bgDarkColor;
        }
        &::before{
            border-top: 15px solid $bgDarkColor;
        }
        &.bgToggle{
            h4{
                &::before, &::after{
                    box-shadow: 0 -25px 0 0 $secondColor;
                }
            }
            &::after{
                border-top: 15px solid $secondColor;
            }
            &::before{
                border-top: 15px solid $secondColor;
            }
        }
    }

    // Section About Me
    .section-about-me{
        .img-about-me{
            img{
                &:first-child{
                    opacity: 1;
                }
            }
        }
    }
    
}