@use '../abstracts/variables' as *;

html[theme=light] {

    body{
        background-color: $whiteColor;
    }

    // Selection App
    ::selection {
        background: $mainColor;
        color: $mainColor;
    }
    ::-moz-selection {
        background: $mainColor;
        color: $mainColor;
    }

    // For App LgihtMode
    a{
        color: $secondColor;
    }
    h1, h2, h3, h4, h5, h6, p, li{
        color: $secondColor;
    }

    // Classes Used
    .colorSecond{
        color: $secondColor;
    }
    .bgSection{
        background-color: $bgLightColor;
    }
    .bgToggle{
        background-color: $whiteColor;
    }
    .owl-switch {
        .owl-nav{
            button{
                background-color: $whiteColor;
                i{
                    color: $secondColor;
                }
            }
        }
    }

    // Wave
    .wave {
        filter: drop-shadow(0px -2px 5px #eee);
        path{
            fill: $whiteColor;
        }
    }

    // Style Click Nav
    .click-nav {
        .handle {
            background-color: $secondColor;
        }
    }

    // BTN
    .btnSecond{
        background: $secondColor !important;
        color: $whiteColor !important;
        border: 1px solid $secondColor !important;
    }
    .btnBorder{
        background: transparent !important;
        color: $secondColor !important;
        border: 1px solid $secondColor !important;
    }
    .btn-button{
        &:before{
          background-color: $whiteColor;
        }
        &::after{
          background-color: $whiteColor;
        }
    }

    // Theme Section
    .theme{
        button{
            background-color: $whiteColor;
            i{
                color: $secondColor;
            }
        }
    }

    // Header
    header{
        .head-nav{
            background-color: $whiteColor;
            .logo{
                -webkit-text-stroke: 1px $mainColor;
                &:before{
                    color: $mainColor;
                }
            }
            nav{
                background-color: $whiteColor;
                li{
                    a{
                        color: $mainColor;
                    }
                    &::after{
                        background-color: $mainColor;
                    }
                }
            }
        }
    }

    // Count Section
    .count-section{
        .bgSection{
            .count-box{
                .svg-box {
                    svg circle {
                        stroke: $bgLightColor;
                    }
                }      
            }
        }
    }

    // Head Title
    .head-title{
        &::after, &::before{
            border-top: 15px solid $bgLightColor;
        }
        &.bgToggle{
            h4{
                &::before, &::after{
                    box-shadow: 0 -25px 0 0 $whiteColor;
                }
            }
            &::after{
                border-top: 15px solid $whiteColor;
            }
            &::before{
                border-top: 15px solid $whiteColor;
            }
        }
    }

    // Section About Me
    .section-about-me{
        .img-about-me{
            img{
                &:first-child{
                    opacity: 0.2;
                }
            }
        }
    }

    // Section Experience
    .section-experience{
        .block-experience{
            background-color: $whiteColor;
            .icon-head{
                &::after, &::before{
                    border-top: 15px solid $bgLightColor;
                }
            }
        }
    }

}