// Colors Page

$mainColor                          : #EBAA14;
$secondColor                        : #161616;

$inputColor                         : #ddd;
$placholderInputColor               : #ccc;

$whiteColor                         : #FFF;
$blackColor                         : #000;