// Colors Page

$mainColor                          : #356DFF;
$secondColor                        : #0B0D39;

$bgDarkColor                        : rgba(26, 28, 70, 0.9);
$bgLightColor                       : rgba(242, 251, 252, 0.9);

$redColor                           : #F65529;
$yellowColor                        : #FFB300;
$purpleColor                        : #7B53FF;

$inputColor                         : #ddd;
$placholderInputColor               : #ccc;

$whiteColor                         : #FFF;
$blackColor                         : #000;