// Colors Page

$mainColor                          : #00D084;
$secondColor                        : #363636;

$bgDarkColor                        : rgb(64 64 64);
$bgLightColor                       : rgba(242, 251, 252, 0.9);

$redColor                           : #F65529;
$yellowColor                        : #FFB300;
$purpleColor                        : #7B53FF;

$inputColor                         : #ddd;
$placholderInputColor               : #ccc;

$whiteColor                         : #FFF;
$blackColor                         : #000;